*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family:  'Orbitron', sans-serif;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 4% 43% 17% 17% 17%;
    grid-template-rows: 19% 60% 20%;
    gap: 0.5%;
    padding: 0.5%;
}

.side{
    grid-row: 1/4;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.side div{
    padding: 10px;
    margin-bottom: 30px;
}
.intro{
    background-color: blueviolet;
    color: white;
    grid-row: 1/4;
    grid-column: 2/3;
    
    background-image: url('./aboutMe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    position: relative;

}
#circle{
    position: absolute;
    height: 50%;
    width: 40%;

    top: 10%;
    left: 33%;
    background: radial-gradient(rgb(255, 233, 236),rgb(255, 166, 181));
    border-radius: 50%;
    
}
.intro h6{
    color: black;
    margin-top: 7%;
    margin-left: 9%;
    font-size: 23px;
}
.intro p{
    margin-top: 55%;
    margin-left: 10%;
}
.intro h5{
    margin-top: 20px;
    margin-left: 10%;
}
#im{
    display: block;
    font-size: xx-large;
}
#jon{
    display: block;
    font-size: xx-large;
    font-weight: 700;
}

#cd{
    width: 20%;
    height: 24%;
    position: absolute;
    top: 70%;
    left: 70%;
}

#mainchar{
    position: absolute;

    width: 70%;

    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;
}
.title{
    grid-column: 3/6;

    font-size:400%;
    padding-left: 5%;
    padding-top: 3%;
    font-weight: bold;

}
.center{
    grid-column: 3/5;
    grid-row: 2/3;
    
    background-image: url("./swarn2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center i{
    font-size: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.center i:hover{
    transform: translateY(-10px) scale(1.1);
    z-index: 10;
}

.bottom-one{
    background-color: rgb(165, 163, 163);
    border-radius: 10px;
    grid-column: 3/4;
    padding: 5%;
}

.bottom-one span{
    margin-bottom: 20px;
    display: block;
}

.bottom-one i{
    font-size: 30px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: -15px;
    background-color: grey;

    padding: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.bottom-one i:hover{
    transform: translateY(-10px) scale(1.1);
    background-color: white;
    z-index: 10;
}

.bottom-two{
    grid-column: 4/6;
    display: flex;
    gap:1%;
}

.bottom-two div{
    transition: all 0.3s ease;
    cursor: pointer;
}

.bottom-two div:hover{
    transform: translateY(-10px) scale(1.0);
    z-index: 10;
}
.bottom-two-part1{
    width: 50%;
    background-color: black;
    border-radius: 10px;

    background-image: url("./earth-Picsart-BackgroundRemover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-two-part2{
    width: 50%;
    background-color: rgb(242, 164, 19);
    border-radius: 10px;
    margin-left: -7%;
    padding: 4%;
}

#number{
    font-size:x-large;
    display: block;
    text-align: center;
    font-weight: 600;
}

#global{
    display: block;
    padding-left: 10%;
}
.right{
    background-color: yellow;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.right div i{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.right div i:hover{
    transform: translateY(-10px) scale(1.0);
    z-index: 10;
}

#right-div-one{
    height: 50%;
    border-radius: 10px 10px 0 0; 
    background-color: rgb(0, 204, 255);
    padding: 10%;
}
#projects{
    display: block;
    text-align: center;
}

#right-div-two{
    height: 50%;
    background-color:rgb(166, 55, 166);
    border-radius: 0 0 10px 10px;   
    padding: 10%;
}
#awards{
    display: block;
    text-align: center;
}